[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirerpy = "*"
rich = "*"
clipboard = "*"
requests = "*"
"ruamel.yaml" = "*"
# TODO: need to support pydantic v2, huge refactor
pydantic = "<2.0.0"
typing-extensions = "*"
packaging = "*"
markdown = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.8"
