[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirerpy = "==0.2.0"
rich = "*"
clipboard = "*"
requests = "*"
"ruamel.yaml" = "*"
pydantic = "*"
packaging = "*"
halo = "*"
markdown = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
flake8-bugbear = "*"
pipenv-setup = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
