[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirerpy = "*"
rich = "*"
pyyaml = "*"
clipboard = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
